@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    background-color: #15140b;
    color: #e7e2d4;
  }
}

@layer components {
  .glass-panel {
    background: rgba(63, 78, 79, 0.7);
    backdrop-filter: blur(20px);
    border: 1px solid rgba(220, 215, 201, 0.1);
  }
}

@layer utilities {
  .text-terracotta {
    color: #a27b5c;
  }

  .bg-terracotta {
    background-color: #a27b5c;
  }
}
